@import url("/node_modules/@fortawesome/fontawesome-free/css/all.min.css");

* {
  box-sizing: border-box;
}

.box-navbar {
  width: auto;
  height: auto;
  display: flex;
  background-color: rgb(15, 149, 15);
}
